.mw-85 {
  max-width: 100%;
}

.rotate {
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.todo-card {
  width: 400px;
}

.btn-add {
  color: #fff;
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.form-check-input.green:checked {
  background-color: var(--color-success);
  border-color: var(--color-success);
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: rgb(245, 133, 53);
  border-radius: 50%;
  margin-right: 5px;
}